---
import Layout from "../layouts/Layout.astro";
import SinglePageApp from "../components/SinglePageApp.vue";
import DarkModeToggle from "../components/DarkModeToggle.vue";
---

<Layout title="Welcome to Astro.">
	<script>
		import * as Auth from "../auth";

		if (import.meta.env.DEV) {
			localStorage.setItem("log", "true");
		} else {
			localStorage.removeItem("log");
		}

		// document.account = await Auth.AccountLoadOrNew();

		// const roomName = await Auth.AccountGetPinCatalogRoom(account);
		// const password = await Auth.AccountGetRoomPassword(account);
		// console.log(`roomName: ${roomName}`);
		// console.log(`password: ${password}`);

		// const doc = new Y.Doc();

		// const persistence = new IndexeddbPersistence(roomName, doc);
		// const provider = new WebrtcProvider(roomName, doc, { password });

		// persistence.once("synced", () =>
		// 	console.log("Loaded initial data from IndexedDB."),
		// );

		// const sharedMap = doc.get("sharedMap", Y.Map);
		// document.sharedMap = sharedMap;
		// sharedMap.set(self.crypto.randomUUID(), self.crypto.randomUUID());
		// sharedMap.forEach((x) => console.log(x));
	</script>
	<!-- <DarkModeToggle client:only="vue" /> -->
	<!-- <CounterButton initialCount={3} client:only="vue" /> -->
	<SinglePageApp client:only="vue" />
	<!-- <h1>Welcome to <span class="text-gradient">TODO</span></h1>
	<ul></ul>
	<form><input class="ring-2" /><button>Add</button></form> -->
</Layout>
